.background{
    background-image: url("background.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: absolute;

}
.body{
    margin: 0px;
}

.boy{
    width: 250px;
    margin-top: 500px;
    position: absolute;
}